---
import BaseLayout from '@/layouts/BaseLayout.astro';
---

<BaseLayout>
  <section class="px-8 py-5" id="about" aria-label="About section">
    <h1 class="py-10 text-4xl font-bold leading-normal">
      Developing
      <span class="underline underline-offset-8 decoration-4 decoration-primary">
      highly-performant</span> and <span>accessible</span> websites and web apps.
    </h1>

      <a
        href="#projects"
        class="mr-3 py-4 px-6 rounded-full bg-primary hover:bg-primary-darken rop-shadow-lg focus:outline-dark text-white"
        aria-label="Take a look at my projects."
      >
        See projects
      </a>

      <a
        href="#projects"
        class="p-3 underline-offset-8 decoration-2 hover:underline focus:underline decoration-primary"
        aria-label="Learn more about me."
      >
        Learn more
      </a>
  </section>

  <!-- TODO: Fetch from Github aAPI -->
  <section id="projects">

  </section>
</BaseLayout>
