---
import WorkStatus from "@/components/WorkStatus.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { Icon } from "astro-icon/components";

const KV = Astro.locals.runtime.env.jhdcruz;
const status = await KV.get("status");

export const prerender = false;
---

<BaseLayout>
  <section transition:name="homepage">
    <div
      class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 lg:px-12"
    >
      <WorkStatus status={status ?? "busy"} />
      <h1
        class="mb-4 drop-shadow-md font-extrabold tracking-tight leading-none text-gray-900 text-5xl lg:text-6xl dark:text-white"
      >
        Transform your
        <span class="text-brand">visions</span>
        into
        <span class="text-brand">digital reality</span>.
      </h1>
      <p
        class="mb-8 text-md font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-48 dark:text-gray-400"
      >
        Whether you need assistance with product realization, infrastructure
        platform, or complete system architecture,
        <span class="font-bold text-brand">I can help with that.</span>
      </p>
      <div
        class="flex flex-col mb-8 lg:mb-16 space-y-4 sm:flex-row sm:justify-center sm:space-y-0 sm:space-x-4"
      >
        <a
          href="#"
          class="inline-flex justify-center items-center py-3 px-9 text-base font-medium text-center text-white rounded-full bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:ring-primary-400 dark:focus:ring-primary-800"
        >
          I want something built
          <Icon class="ml-2" name="tabler:code" size={20} />
        </a>
        <a
          href="#"
          class="inline-flex justify-center items-center py-3 px-7 text-base font-medium text-center text-gray-900 rounded-full border border-zinc-300 hover:bg-zinc-100 focus:ring-4 focus:ring-zinc-100 dark:text-white dark:border-zinc-700 dark:hover:bg-zinc-700 dark:focus:ring-zinc-800"
        >
          <Icon class="mr-2" name="tabler:sitemap" size={20} />
          I need a system design
        </a>
      </div>
    </div>
  </section>
</BaseLayout>
