---
import WorkStatus from "@/components/WorkStatus.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { Icon } from "astro-icon/components";

const KV = Astro.locals.runtime.env.jhdcruz;
const status = await KV.get("status");

export const prerender = false;
---

<BaseLayout>
    <style>
        body {
            background:
                linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
                url("/assets/bg.webp") no-repeat center center;
            background-size: cover;
            max-height: 1080px;
        }
    </style>

    <section class="relative" transition:name="homepage">
        <!-- Photo attribution -->
        <div
            class="text-gray-600 italic text-sm absolute bottom-0 right-0 mr-5"
        >
            Photo by <a
                href="https://unsplash.com/@mbrunacr?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash"
                >Miguel Bruna</a
            > on <a
                href="https://unsplash.com/photos/escalators-inside-building-DdiaNwoCK0c?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash"
                >Unsplash</a
            >
        </div>

        <div
            class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 lg:px-12"
        >
            <!-- Work availability -->
            <WorkStatus status={status ?? "busy"} server:defer>
                <div slot="fallback">
                    <div
                        class="animate-pulse h-[36px] w-[378px] inline-flex justify-between items-center py-1 px-1 pr-4 mb-5 bg-gray-200 rounded-full dark:bg-zinc-700"
                    >
                    </div>
                </div>
            </WorkStatus>

            <div class="backdrop-blur-sm rounded-xl">
                <!-- Title -->
                <h1
                    class="mb-4 drop-shadow-md font-[900] leading-none text-gray-100 text-6xl lg:text-6xl dark:text-white"
                >
                    Delivering
                    <span class="text-brand">intuitive</span>
                    and
                    <span class="text-brand">effective</span>
                    technology solutions.
                </h1>

                <!-- Subtitle -->
                <p
                    class="drop-shadow-sm mt-6 mb-10 text-md font-normal text-gray-200 lg:text-xl sm:px-16 xl:px-48 dark:text-gray-300"
                >
                    Whether you need assistance with product realization,
                    infrastructure platform, or a reliable partner,
                    <span class="font-bold text-brand"
                        >I can help with that.</span
                    >
                </p>
            </div>

            <!-- CTAs -->
            <div
                class="flex flex-col mb-8 lg:mb-10 space-y-4 sm:flex-row sm:justify-center sm:space-y-0 sm:space-x-4"
            >
                <a
                    href="/services"
                    class="inline-flex justify-center items-center py-3 px-9 text-base font-medium text-center text-white rounded-full bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:ring-primary-400 dark:focus:ring-primary-800"
                >
                    I want something built
                    <Icon class="ml-2" name="tabler:code" size={20} />
                </a>
                <a
                    href="/connect"
                    class="inline-flex justify-center items-center py-3 px-7 text-base font-medium text-center text-gray-200 rounded-full border border-zinc-200 hover:bg-zinc-100 focus:ring-4 focus:ring-zinc-100 dark:border-zinc-600 dark:hover:bg-zinc-700 dark:focus:ring-zinc-800"
                >
                    <Icon class="mr-2" name="tabler:sitemap" size={20} />
                    Connect with me
                </a>
            </div>
        </div>
    </section>

    <!-- Core Values -->
    <section class="bg-light dark:bg-dark mt-4 text-center">
        <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
            <div class="mb-6 lg:mb-12">
                <h2
                    class="mb-4 text-4xl font-extrabold text-gray-900 dark:text-white"
                >
                    Core Values
                </h2>
                <p
                    class="max-w-screen-md mx-auto text-gray-500 sm:text-lg dark:text-gray-400"
                >
                    As part of the team, I am committed to upholding key
                    principles that governs my work.
                </p>
            </div>
            <div
                class="space-y-8 mx-auto md:grid md:grid-cols-2 lg:grid-cols-3 md:gap-12 md:space-y-0"
            >
                <div>
                    <div
                        class="flex justify-center items-center mx-auto mb-4 w-12 h-12 rounded-full bg-primary-100 lg:h-14 lg:w-14 dark:bg-primary-900"
                    >
                        <Icon
                            class="w-6 h-6 text-primary-600 lg:w-8 lg:h-8 dark:text-primary-300"
                            name="tabler:code-asterisk"
                            size={36}
                        />
                    </div>
                    <h3 class="mb-2 text-xl font-bold dark:text-white">
                        Clean Code
                    </h3>
                    <p class="text-gray-500 dark:text-gray-400">
                        Plan it, create it, launch it. Collaborate seamlessly
                        with all the organization and hit your marketing goals
                        every month with our marketing plan.
                    </p>
                </div>
                <div>
                    <div
                        class="flex justify-center items-center mx-auto mb-4 w-12 h-12 rounded-full bg-primary-100 lg:h-14 lg:w-14 dark:bg-primary-900"
                    >
                        <Icon
                            class="w-6 h-6 text-primary-600 lg:w-8 lg:h-8 dark:text-primary-300"
                            name="tabler:infinity"
                            size={36}
                        />
                    </div>
                    <h3 class="mb-2 text-xl font-bold dark:text-white">
                        Continuous Learning
                    </h3>
                    <p class="text-gray-500 dark:text-gray-400">
                        Protect your organization, devices and stay compliant
                        with our structured workflows and custom permissions
                        made for you.
                    </p>
                </div>
                <div>
                    <div
                        class="flex justify-center items-center mx-auto mb-4 w-12 h-12 rounded-full bg-primary-100 lg:h-14 lg:w-14 dark:bg-primary-900"
                    >
                        <Icon
                            class="w-6 h-6 text-primary-600 lg:w-8 lg:h-8 dark:text-primary-300"
                            name="tabler:users-group"
                            size={36}
                        />
                    </div>
                    <h3 class="mb-2 text-xl font-bold dark:text-white">
                        Collaborative Approach
                    </h3>
                    <p class="text-gray-500 dark:text-gray-400">
                        Auto-assign tasks, send Slack messages, and much more.
                        Now power up with hundreds of new templates to help you
                        get started.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- My Expertise -->
    <section class="bg-light dark:bg-dark text-center pb-6 md:pb-12">
        <div class="py-5 px-4 mx-auto max-w-screen-xl sm:py-12 lg:px-6">
            <div class="mb-6 md:mb-0">
                <h2
                    class="mb-4 text-4xl font-extrabold text-gray-900 dark:text-white"
                >
                    My Expertise
                </h2>
                <p
                    class="max-w-screen-md mx-auto text-gray-500 sm:text-lg dark:text-gray-400"
                >
                    I strive to deliver performant and high-quality software
                    solutions that meets user needs and make a positive impact.
                </p>
            </div>
        </div>

        <!-- Tech Stack Image Grid -->
        <div
            class="grid grid-cols-1 gap-4 px-10 mx-auto md:max-w-screen-xl sm:grid-cols-2 md:grid-cols-3"
        >
            <div class="px-4">
                <h3 class="text-xl font-bold dark:text-white">Languages:</h3>
                <hr class="my-6 h-px bg-gray-200 border-0 dark:bg-gray-700" />
                <div class="flex flex-wrap justify-center gap-4">
                    <img
                        class="h-16 max-w-full rounded-lg"
                        src="/assets/tech/JavaScript.svg"
                        alt="JavaScript"
                        title="JavaScript"
                    />
                    <img
                        class="h-16 max-w-full rounded-lg"
                        src="/assets/tech/TypeScript.svg"
                        alt="TypeScript"
                        title="TypeScript"
                    />
                    <img
                        class="h-16 max-w-full rounded-lg"
                        src="/assets/tech/Kotlin.svg"
                        alt="Kotlin"
                        title="Kotlin"
                    />
                    <img
                        class="h-16 max-w-full rounded-lg"
                        src="/assets/tech/Java.svg"
                        alt="Java"
                        title="Java"
                    />
                    <img
                        class="h-16 max-w-full rounded-lg"
                        src="/assets/tech/Amber.png"
                        alt="Amber"
                        title="Amber"
                    />
                    <img
                        class="h-16 max-w-full rounded-lg dark:brightness-0 dark:invert"
                        src="/assets/tech/Bash.svg"
                        alt="Bash"
                        title="Bash"
                    />
                </div>
            </div>

            <div class="px-4">
                <h3 class="text-xl font-bold dark:text-white">
                    Frameworks & Libraries:
                </h3>
                <hr class="my-6 h-px bg-gray-200 border-0 dark:bg-gray-700" />
                <div class="flex flex-wrap justify-center gap-4">
                    <img
                        class="h-16 max-w-full rounded-lg"
                        src="/assets/tech/React.svg"
                        alt="React"
                        title="React"
                    />
                    <img
                        class="h-16 max-w-full rounded-lg dark:brightness-0 dark:invert"
                        src="/assets/tech/Next.js.svg"
                        alt="Next.js"
                        title="Next.js"
                    />
                    <img
                        class="h-16 max-w-full rounded-lg"
                        src="/assets/tech/Astro.svg"
                        alt="Astro"
                        title="Astro"
                    />
                    <img
                        class="h-16 max-w-full rounded-lg"
                        src="/assets/tech/Solid.js.svg"
                        alt="Solid.js"
                        title="Solid.js"
                    />
                    <img
                        class="h-16 max-w-full rounded-lg dark:brightness-0 dark:invert"
                        src="/assets/tech/Express.svg"
                        alt="Express"
                        title="Express"
                    />
                    <img
                        class="h-16 max-w-full rounded-lg"
                        src="/assets/tech/Node.js.svg"
                        alt="Node.js"
                        title="Node.js"
                    />
                    <img
                        class="h-16 max-w-full rounded-lg"
                        src="/assets/tech/Android.svg"
                        alt="Android"
                        title="Android"
                    />
                    <img
                        class="h-16 max-w-full rounded-lg"
                        src="/assets/tech/JUnit.svg"
                        alt="JUnit"
                        title="JUnit"
                    />
                </div>
            </div>

            <div class="px-4">
                <h3 class="text-xl font-bold dark:text-white">Tooling:</h3>
                <hr class="my-6 h-px bg-gray-200 border-0 dark:bg-gray-700" />
                <div class="flex flex-wrap justify-center gap-4">
                    <img
                        class="h-16 max-w-full rounded-lg"
                        src="/assets/tech/Docker.svg"
                        alt="Docker"
                        title="Docker"
                    />
                    <img
                        class="h-16 max-w-full rounded-lg"
                        src="/assets/tech/GitHub Actions.svg"
                        alt="GitHub Actions"
                        title="GitHub Actions"
                    />
                    <img
                        class="h-16 max-w-full rounded-lg"
                        src="/assets/tech/Git.svg"
                        alt="Git"
                        title="Git"
                    />
                    <img
                        class="h-16 max-w-full rounded-lg dark:brightness-0 dark:invert"
                        src="/assets/tech/GitHub.svg"
                        alt="GitHub"
                        title="GitHub"
                    />

                    <img
                        class="h-16 max-w-full rounded-lg"
                        src="/assets/tech/GitLab.svg"
                        alt="GitLab"
                        title="GitLab"
                    />
                    <img
                        class="h-16 max-w-full rounded-lg"
                        src="/assets/tech/AWS.svg"
                        alt="AWS"
                        title="AWS"
                    />
                    <img
                        class="h-16 max-w-full rounded-lg"
                        src="/assets/tech/Firebase.svg"
                        alt="Firebase"
                        title="Firebase"
                    />
                    <img
                        class="h-16 max-w-full rounded-lg"
                        src="/assets/tech/Cloudflare.svg"
                        alt="Cloudflare"
                        title="Cloudflare"
                    />
                    <img
                        class="h-16 max-w-full rounded-lg dark:brightness-0 dark:invert"
                        src="/assets/tech/Gradle.svg"
                        alt="Gradle"
                        title="Gradle"
                    />
                    <img
                        class="h-16 max-w-full rounded-lg"
                        src="/assets/tech/PostgresSQL.svg"
                        alt="PostgreSQL"
                        title="PostgreSQL"
                    />
                    <img
                        class="h-16 max-w-full rounded-lg"
                        src="/assets/tech/Linux.svg"
                        alt="Linux"
                        title="Linux"
                    />
                    <img
                        class="h-16 max-w-full rounded-lg"
                        src="/assets/tech/Ubuntu.svg"
                        alt="Ubuntu"
                        title="Ubuntu"
                    />
                    <img
                        class="h-16 max-w-full rounded-lg"
                        src="/assets/tech/Fedora.svg"
                        alt="Fedora"
                        title="Fedora"
                    />
                    <img
                        class="h-16 max-w-full rounded-lg"
                        src="/assets/tech/Red Hat.svg"
                        alt="Red Hat"
                        title="Red Hat Linux Enterprise (RHEL)"
                    />
                </div>
            </div>
        </div>
    </section>
</BaseLayout>
