---
import { SEO } from 'astro-seo';
import Nav from '@/components/Nav.astro';

// fonts
import "@fontsource-variable/inter";
import "@fontsource/inter";
import "@fontsource/inter/600.css";
import "@fontsource/inter/800.css";

---

<html lang="en" class="bg-light dark:bg-dark smooth-scroll">
  <head>
    <meta charset="UTF-8" />
    <SEO
      title="Joshua Hero Dela Cruz | @jhdcruz"
      description="A self-taught software developer who loves building software."
      extend={{
        link: [{ rel: 'icon', href: '/favicon.ico' }],
        meta: [
          {
            name: 'viewport',
            content: 'width=device-width, initial-scale=1',
          },
          {
            httpEquiv: 'X-UA-Compatible',
            content: 'IE=edge',
          },
        ],
      }}
    />
  </head>

  <body class="font-sans">
    <Nav />

    <main class="text-matte dark:text-light">
      <slot />
    </main>

    {process.env.PRODUCTION ? (
      <script
        type="text/partytown"
        src="https://static.cloudflareinsights.com/beacon.min.js"
        data-cf-beacon='{"token": "e8a4e8aa4bbb48639771ca46680f08e7"}'
       ></script>
      ) : null
    }
  </body>
</html>
