---
import { Nav } from '@/components/Nav';
---

<html lang="en" class="bg-light dark:bg-dark smooth-scroll">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta httpequiv="X-UA-Compatible" content="IE=edge" />
    <title>Joshua Hero Dela Cruz | @jhdcruz</title>
    <meta
      name="description"
      content="An aspiring software developer, exploring various programming languages and technologies for adventure."
    />
    <meta
      name="keywords"
      content="personal,portfolio,software,web,development,technology,IT"
    />
    <meta name="author" content="Joshua Hero Dela Cruz" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  </head>

  <body>
    <style global>
      @tailwind base;
      @tailwind components;
      @tailwind utilities;
    </style>

    <Nav client:load />

    <main class="text-matte dark:text-light">
      <slot />
    </main>

    <script
      src="https://code.iconify.design/2/2.2.1/iconify.min.js"
      async
    ></script>
  </body>
</html>
