name: 'ci'

on:
  workflow_dispatch:
  push:
    paths-ignore:
      - docs/
      - scripts/
      - .vscode/
      - .husky/
      - README.md
      - COPYING
      - renovate.json
      - .czrc.json
      - .editorconfig
      - .gitattributes
      - .gitignore
      - .prettierignore
      - ./*.svg

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: ['lts/*']
    steps:
      - uses: actions/checkout@v3

      - name: Cache pnpm modules
        uses: actions/cache@v3
        with:
          path: ~/.pnpm-store
          key: ${{ runner.os }}-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}

      - uses: pnpm/action-setup@v2
        with:
          version: 'latest'
          run_install: true

      - name: Trunk Check
        uses: trunk-io/trunk-action@v1
        with:
          trunk-token: ${{ secrets.TRUNK_TOKEN }}

      - name: Build astro
        run: pnpm build
